<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="">
      <h6>Contactanos</h6><br>
      <section class="buttons">
        <div class="icons">
          <a href="https://w.app/u6Jyhw" class="fa fa-whatsapp"></a>
          <a href="" class="fa fa-facebook"></a>
          <a href="https://twitter.com/VicenteAloi1" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/vicenaloi/?hl=es-la" target="_blank" class="fa fa-instagram"></a>
        </div>

      </section>

    </div>
  </div>
</body>

</html>