.container {
  display: grid;
  text-align: center;
  width: 80%;
  background-color: #F8F9FA; 
  border-radius: 0 0 15px 15px;
  margin-bottom: 15px;
}

.table {
  text-align: center;
  width: 100%;
}


.alert {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
}

.btn {
  text-align: center;
  align-content: center;
  height: 50px;
  width: 200px;
  margin-left: 40%;
  margin-bottom: 1rem;
}
.btn.btn-outline-danger{
  height: 30px;
  width: 100px;
  font-size: medium;
  margin:0px 0px 0px 0px;
}

.button {
  border: none;
  background-color: white;
  /*padding: 0.3rem;*/
  margin-top: 1.5rem;
}

.image-product{
  height: 80px;
  width: 80px;
  
}