<app-navbar *ngIf="component!='purchase'"></app-navbar>
<header class="container text-center"> 
  <div class="text-start mt-3">
    <h2 *ngIf="component!='purchase'">Carrito de Compras</h2>
   
  </div>  
  <div class="alert alert-info" role="alert" *ngIf="productsCart.length === 0">
    No tienes productos en el carrito
  </div>
  <table class="table" *ngIf="productsCart.length > 0">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Modelo</th>
        <!-- <th scope="col">Marca</th> -->
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col" *ngIf="component!='purchase'"><button class="btn btn-outline-danger" *ngIf="productsCart.length > 0" (click)="clearCart()">Limpiar</button></th>
      </tr>
    </thead>
    <tbody *ngFor="let products of productsCart">
      <tr>
        <th scope="row"><img [src]=getUrl(products.image) class="image-product" alt="imagen"></th>
        <td class="col">{{products.model}}</td>
        <!-- <td class="col">{{products.brand}}</td> -->
        <td class="col">{{products.price}}</td>
        <td class="col">{{products.quantity}}</td>
        <td class="col" *ngIf="products.quantity && products.price">{{products.quantity * products.price}}</td>
        <td *ngIf="component!='purchase'"><button class="button" (click)="deleteProduct(products.id)"><img
              src="../../../assets/img/basura.png"></button></td>
      </tr>
    </tbody>
  </table>
  
    <!-- Fijarse, porque valida segun nombre de usuario = invitado -->
    <button class="btn btn-success" *ngIf=" productsCart.length > 0 && user?.name!='invitado' && component!='purchase'" routerLink="/dashboard/purchase">Comprar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../../assets/img/aplicacion-wallet-pass.png"></button>
    <button class="btn btn-success" *ngIf=" productsCart.length > 0 && user?.name=='invitado' && component!='purchase'"  (click)="openModal2(template2)">Comprar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../../assets/img/aplicacion-wallet-pass.png"></button>
    

  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Loguearse Para Comprar</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Debe Loguearse antes de Realizar una Compra</p>
      <div>
        <button class="btn btn-danger" routerLink="/login" style="margin: 0;"
          (click)="modalRef?.hide()">Loguearse</button>
        <button class="btn btn-success" (click)="modalRef?.hide()" style="margin: 0 0 0   10px;">Seguir Mirando</button>
      </div>
    </div>
  </ng-template>  
</header>
<div class="footer" *ngIf="component!='purchase'">
  <app-footer></app-footer>
</div>
