.container {
  display: grid;
  text-align: center;
  width: 80%;
  background-color: #F8F9FA; 
  border-radius: 15px;
  margin-top: 15px;
}

.footer{
  margin-top: 35%;
}

.table {
  text-align: center;
  width: 100%;
}


.alert {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
}

.btn {
  text-align: center;
  align-content: center;
  height: 50px;
  width: 200px;
  margin-left: 40%;
  margin-bottom: 1rem;
}
.btn.btn-outline-danger{
  height: 30px;
  width: 100px;
  font-size: medium;
  margin:0px 0px 0px 0px;
}

.button {
  border: none;
  background-color: white;
  /*padding: 0.3rem;*/
  margin-top: 1.5rem;
}

.image-product{
  height: 80px;
  width: 80px;
  
}


@media (max-width: 30em){
  table{
      width: 100%;
  }
  table tr{
      display: flex;
      flex-direction: column;
      border: 1px solid grey;
      margin-bottom: 1em;
  }
  table tbody{
      margin-left: 25px;
  }
  table td[data-titulo]::before{
      content: attr(data-titulo);
      width: 90px;
      font: bold;
  }

  table thead{
      display: none;
  }
}