
<section class="">
  <p class="text-success fs-3 fw-bold">
    Datos Utiles
  </p>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">Productos Cargados: {{countProducts}}</li>
    <li class="list-group-item">Cantidad Clientes: {{countCustomers}}</li>
    <li class="list-group-item">Cantidad de ventas: {{countSales}}</li>
    <li class="list-group-item">Fecha: {{fecha}}</li>
  </ul>
  <p class="pt-4">
    Cualquier Duda Comunicarce con el CEO <span class="text-success"> 
    </span>
  </p>
</section>