<app-navbar></app-navbar>
<app-products-carousel></app-products-carousel>
<h3 class="text-center px-5 my-5" style="text-decoration:overline;">
  Productos 
</h3>

<div class="container-cards">
  <div class="card" *ngFor="let item of listProducts">
    <img [src]=getUrl(item.image) alt="ImagenCelular">
    <div class="card-body">
      <h5 class="card-title">{{item.model}}</h5>
      <p class="card-text">{{item.description}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3 class=" fs-6">{{item.brand}}</h3>
      </li>
      <li class="list-group-item" *ngIf="item.stock>0">
        <span class="text-success">Disponible</span>
        <span class="stock-informative">Quedan {{item.stock}} unidades disponibles</span>
      </li> 
    </ul>
    <div class="card-body">
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="findProduct(item)">Comprar</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-info text-center" style="width: auto;" *ngIf="listProducts.length==0">
  <p>"No hay productos en esta pagina"</p> 
</div>

<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link {{disabledBack}}" aria-label="Previous" (click)="getProductByPage(page-1)">
          <span aria-hidden="true"><<</span>
        </a>
      </li>
  
        <li  class="page-item {{active1}}"><a class="page-link" (click)="getProductByPage(0)">1</a></li>
        <li class="page-item {{active2}}"><a class="page-link" (click)="getProductByPage(1)" *ngIf="this.totalPages.length>1">2</a></li>
        <li class="page-item"><a class="page-link" (click)="getProductByPage(2)" *ngIf="this.totalPages.length>2">3</a></li>
      <li class="page-item">
        <a class="page-link {{disabledNext}}" aria-label="Next">
          <span aria-hidden="true" (click)="getProductByPage(page+1)">>></span>
        </a>
      </li>
      <li class="page-item px-5 {{active0}}"><a class="page-link" (click)="getProducts()">Todos</a> </li>
    </ul>
  </nav>
</div>


<app-footer></app-footer>