body {
  background-image: url(https://wallpapercave.com/wp/wp6994803.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.container{
  min-height: 80%;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.icono-wrap img {
  width: 45rem;
  height: auto;
}

.ventasegura{
  font-size: 15px;
  margin-top: 10%;
}
.ventasegura span{
  font-size: 18px;
  color: green;
}

@media(max-width: 1200px) {
  p {
    font-size: medium !important;
  }

  .icono-wrap {
    display: grid; 
  }

  .icono-wrap img {
    
    width: 350px !important;
    height: 350px;
  }

}

@media(max-width: 768px) {
  p {
    font-size: medium !important;
  }

  .icono-wrap {
    display: grid; 
  }

  .icono-wrap img {
    
    width: 250px !important;
    height: 250px;
  }

}

@media(max-width: 576px) {
  p {
    font-size: small !important;
  }

  .icono-wrap {
    display: grid; 
  }

  .icono-wrap img {
    margin-top: 40%;
    width: 150px;
    height: 150px;
  }

}

.data{
  margin-left: 10%;
}