.fondo {
  background-image: url(https://wallpapercave.com/wp/wp6994803.jpg);
  background-size: cover;
  background-attachment: scroll;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: rgb(0, 0, 0);
}

.container-cards{
  text-align: center;
}

.container{
  text-align: center;
}

.card {
  width: 18rem;
  border: 2px solid white;
  display: inline-block;
  background-color: rgba(240, 237, 233, 0.592);
  margin: 0px 20px 15px 0px;
  min-width: 18rem;
  min-height: 18rem;
  text-align: center;
  transition: all 300ms ease;
}

.card img {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
}

.stock-informative{
  display: none;
}

.text-success {
  display: block;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
  transform: translateY(-2%);
}

.card:hover .stock-informative{
  display: block;
  color:rgb(88, 88, 88);
}

.card:hover .list-group .list-group-item .text-success{
  display: none;
}

.botonC{
  display: block;
}
.botonP{
  display: none;
}

.card:hover .botonP{
  display: block;
}
.card:hover .card-body .botonC{
  display: none;
}

.modal-body {
  display: flex;
}

.modal-body-right img {
  max-width: 150px;
}

.pagination{
  justify-content: center;
  cursor: pointer;
}

.card-text{
  height: 150px;
}