<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="container">
  <h3 class="text-center px-5 my-5" style="text-decoration:overline;">
    Productos 
  </h3>



 <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table id="tableProducts" style="width:100%" class="table table-striped table-bordered table-condensed">
          <thead class="text-center">
            <tr>
              <th data-titulo="ID">Id</th>
              <th data-titulo="Marca">Marca</th>
              <th data-titulo="Modelo">Modelo</th>
              <th data-titulo="Stock">stock</th>
              <th data-titulo="Precio">Precio</th>
              <th data-titulo="Creación">Creación</th>
              <th data-titulo="Acciones">Acciones</th>

            </tr>
          </thead>
          <tbody *ngFor="let products of listProducts; let indice=index ">
            <tr>
              <td data-titulo="ID: ">{{products.id}}</td>
              <td data-titulo="Marca: ">{{products.brand}}</td>
              <td data-titulo="Modelo: ">{{products.model}}</td>
              <td data-titulo="Stock: ">{{products.stock}}</td>
              <td data-titulo="Precio: ">{{products.price}}</td>
              <td data-titulo="Creación: ">{{products.createdAt | date:'fullDate'}}</td>
              <td>
                <div class="text-center">
                  <div class="btn-group">
                    <button mat-mini-fab color="warn" (click)="openModal2(template2)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <ng-template #template2>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Eliminando Producto</h4>
                        <button type="button" class="btn-close close pull-right" aria-label="Close"
                          (click)="modalRef?.hide()">
                          <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Estas seguro de eliminar {{products.brand}} {{products.model}}</p>
                        <div class="btn-group">
                          <button class="btn btn-danger" (click)="deleteProducto(indice)">Eliminar</button>
                          <button style="margin-left: 50%;" class="btn btn-success"
                            (click)="modalRef?.hide()">Cerrar</button>
                        </div>
                      </div>
                    </ng-template>
                    <button mat-mini-fab color="primary" (click)="openModal(template,indice)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div  *ngIf="listProducts.length==0">
            <p class="alert alert-info text-center">No hay productos en esta página</p>
        </div>
        <nav aria-label="Page navigation example" *ngIf="totalPages.length>0">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link {{disabledBack}}" aria-label="Previous" (click)="getProductByPage(page-1)">
                <span aria-hidden="true"><<</span>
              </a>
            </li>
              <li class="page-item {{active1}}"><a class="page-link" (click)="getProductByPage(0)">1</a></li>
              <li class="page-item {{active2}}"><a class="page-link" (click)="getProductByPage(1)" *ngIf="this.totalPages.length>1">2</a></li>
            <li class="page-item">
              <a  class="page-link {{disabledNext}}" aria-label="Next">
                <span aria-hidden="true" (click)="getProductByPage(page+1)">>></span>
              </a>
            </li>
            <li class="page-item px-5 {{active0}}"><a class="page-link" (click)="getProducts()">Todos</a> </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar Producto</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-formulario-modificar (updatedSuccess)="updateList(page)" [productReceived]="product" (hideModal)="modalRef?.hide()"></app-formulario-modificar>
  </div>
</ng-template>

