
<app-navbar></app-navbar>

<h2 class="text-center my-5">Finalizar Compra</h2>

<app-cart [component]="component"></app-cart>

<h4 class="text-center">Elige como recibiras tu producto</h4>
<!-- desplegable -->
<div class="text-center">
    <div class="btn-group text-begin mb-5">

        <button type="button" class="btn btn-success" [disabled]="collapsed" (click)="collapsed = !collapsed"
        [attr.aria-expanded]="!collapsed" aria-controls="collapseBasic">Envío a Domicilio
          </button>
          <button type="button" class="btn btn-primary" [disabled]="!collapsed" (click)="collapsed = !collapsed"
          [attr.aria-expanded]="collapsed" aria-controls="collapseBasic">Retiro en Sucursal
            </button>
    </div>
    <div class="text-start my-2 px-5">
        <!-- Envío a Domicilio -->
        <div id="collapseBasic" [collapse]="!collapsed" [isAnimated]="true">
            <h2 class="text-center my-3" id="envio">Envío a Domicilio</h2>
            <div class="well well-lg card card-block card-header mb-5">
                
                <form [formGroup]="formGroup!" class="mb-5" (ngSubmit)="setDomicile()">
                    <div class="mb-3">
                        <label for="codPos">Codigo Postal</label>
                        <input id="codPos" type="text" placeholder="Codigo Postal" class="form-control"
                        formControlName="codPos">
                    </div>
                    <div class="mb-3">
                        <label for="calle">Calle</label>
                        <input id="calle" type="text" placeholder="Calle" class="form-control"
                        formControlName="calle">
                    </div>
                    <div class="mb-3">
                        <label for="numero">Numero</label>
                        <input id="numero" type="number" placeholder="Numero" class="form-control"
                        formControlName="numero">
                    </div>
                    <!-- Codigo Auxiliar -->
                    <div class="text-center my-5">
                    <button [disabled]="!formGroup!.valid" *ngIf="!registered" class="btn btn-outline-success" type="submit">Registrar Domicilio</button>
                    <button class="btn btn-primary" *ngIf="registered" [disabled]="idDomicile==0" (click)="endCollapsed = !endCollapsed" (click)="openModal(template)"
                    [attr.aria-expanded]="!endCollapsed" aria-controls="collapseBasic">
                        Finalizar Compra
                    </button>   
                </div>
                    <!--  -->
                </form>
            </div>
        <!-- Retiro en sucursal -->
        </div>
        
        <div id="collapseBasic" [collapse]="collapsed" [isAnimated]="true">
            <h2 class="text-center my-3" id="sucursal">Retiro en Sucursal</h2>
            <div class="well well-lg card card-block card-header mb-5">
                <form id="sucursales">
                    <label>
                        <input type="radio" name="sucursal" value="1">
                        Montevideo 1343, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="2">
                        Oroño 1515, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="3">
                        Santa Fe 2500, Rosario
                    </label><br>
            
                    <label>
                        <input type="radio" name="sucursal" value="4">
                        San Juan 800, Rosario
                    </label><br>
                    <div class="text-center my-2">
                        <button class="btn btn-primary" (click)="setSucursal(template)" 
                        [attr.aria-expanded]="!endCollapsed" aria-controls="collapseBasic">
                            Finalizar Compra
                        </button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h5 style="margin-left: 10%;">Datos Tarjeta Debito</h5>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="margin-left: 25px; height:auto">
      <app-payment [cartSell]="cartSales" (objectCharge)="doSell($event)"></app-payment>
    </div>
  </ng-template> 



  <app-footer></app-footer>