<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table id="tableProducts" style="width:100%" class="table table-striped table-bordered table-condensed">
        <thead class="text-center">
          <tr>
            <th>Administrador</th>
            <th>Mail</th>
            <th>Producto</th>
            <th>Id Producto</th>
            <th>Imagen</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody *ngFor="let publication of publicationsList">
          <tr>
            <td>{{publication.name}}</td>
            <td>{{publication.email}}</td>
            <td>{{publication.model}}</td>
            <td>{{publication.idProduct}}</td>
            <td style=" width: 30%; text-align: center; justify-content: center; align-items: center;"><img
                style="max-width: 20%" [src]=getUrl(publication.image!) alt=" ..."></td>
            <td>{{publication.createdAt | date: 'fullDate'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>