.img {
  background-color: beige;
  border-radius: 50%;

}

.background {
  min-height: 100%;
  min-width: 100%;
  /*background-image: url("https://img.freepik.com/fotos-premium/empresario-toca-icono-carro-compras-linea-concepto-pantalla-virtual-negocios_55997-2570.jpg?w=826");
  background-size: cover;*/
}

.list {
  text-align: center;
  margin-right: 10rem;
}



.cabecera {
  text-align: center;
  margin-right: 47%;
  color: white;
}